POSTGRES_USER=
POSTGRES_PASSWORD=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASSWORD=

MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

KESTRA_EXTERNAL_API_KEY=

CIFS_USERNAME=
CIFS_PASSWORD=


CONDUTOR_CIFS_DEVICE=
INDEXER_CIFS_DEVICE=
SUPPLY_CIFS_DEVICE=
COSTING_CIFS_DEVICE=
OLD_FILES_CIFS_DEVICE=
